.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px;
  border-radius: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: var(--color-primary-dark);
  cursor: pointer;
  transition: filter 0.2s ease;
  -webkit-transition: filter 0.2s ease;
  -moz-transition: filter 0.2s ease;
  -ms-transition: filter 0.2s ease;
  -o-transition: filter 0.2s ease;
}

.card:not(:last-child) {
  margin-bottom: 15px;
}

.card:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.left {
  display: flex;
  align-items: center;
}

.right {
  color: var(--color-primary-light);
}

.img {
  width: 50px;
}
