.card {
  position: relative;
  display: flex;
  width: 860px;
  height: 380px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: var(--color-primary-dark);
  font-size: 18px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 48px;
}

.title {
  font-size: 48px;
  font-weight: 700;
}

.title span {
  font-size: 48px;
  font-weight: 300;
}

.favorite {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: var(--color-primary);
  font-size: 18px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.block {
  padding: 15px;
}

.subtitle {
  font-size: 16px;
}

.value {
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
}
