:root {
  --color-bg: #f9f9f9;
  --color-primary: #7ed0ff;
  --color-primary-dark: #629dbd;
  --color-primary-light: #b8e8fa;
  --color-text: #ffffff;
  --color-accent: #57b3ca;
  --color-logo: #76e4ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--color-primary-dark);
  background: linear-gradient(
    164deg,
    rgb(89, 156, 192) 0%,
    rgb(47, 122, 161) 50%,
    rgb(119, 169, 196) 100%
  );
  color: #fff;
  line-height: 1.5;
  min-height: 100vh;
}

#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h2 {
  font-size: 28px;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}

a:hover {
  color: var(--color-accent);
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  background: var(--color-accent);
  background: linear-gradient(
    145deg,
    var(--color-accent) 0%,
    var(--color-accent) 50%
  );
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

button:hover {
  filter: brightness(105%);
  -webkit-filter: brightness(105%);
}

input,
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #0077cc;
}

div {
  word-break: break-word;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 860px;
  height: 380px;
}

.loading p {
  font-size: 32px;
}
