:root {
  --color-bg: #f9f9f9;
  --color-primary: #4f7e99;
  --color-primary-dark: #273b46;
  --color-text: #ffffff;
  --color-card-bg: #ffffff;
  --color-accent: #3d6278;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #253741;
  background: linear-gradient(
    164deg,
    rgba(37, 55, 65, 1) 0%,
    rgba(27, 38, 44, 1) 50%,
    rgba(37, 55, 65, 1) 100%
  );
  color: #fff;
  line-height: 1.5;
  min-height: 100vh;
}

#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 15px;
}

h2 {
  font-size: 28px;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}

a:hover {
  color: var(--color-primary);
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  background: #2f5569;
  background: linear-gradient(
    145deg,
    rgba(47, 85, 105, 1) 0%,
    rgba(61, 98, 120, 1) 50%
  );
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

button:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

input,
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #0077cc;
}

div {
  word-break: break-word;
}
