.history {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title h1 {
  font-size: 32px;
}

.clear {
  font-size: 14px;
  padding: 10px;
  height: fit-content;
}

.input {
  height: 100%;
  margin-bottom: 30px;
  padding: 20px;
  background-color: var(--color-primary-dark);
  border: none;
  color: var(--color-text);
}
.input::placeholder {
  color: var(--color-text);
  opacity: 0.6;
  font-weight: 300;
}
